.line {
    display: flex;
    justify-content: space-between;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.calculator-panel {
    width: 460px;
    padding: 10px;
    margin: auto;
}

.line .btn.literal {
    height: 100px;
    width: 25%;
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;
    font-size: 30px;
}

.line .btn.numeric {
    height: 80px;
    width: 50%;
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

.line .btn.operator {
    height: 120px;
    width: 134px;
    margin: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: thin;
    font-size: 70px;
}

.line .btn.submit {
    height: 253px;
    width: 134px;
    margin: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: thin;
    font-size: 70px;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(21, 101, 196, 0.3)
}

#submit-button i{
    font-size: 90px;
}

#sheffer-stroke-button {
    font-size: 330%;
}

#display {
    height: 100px;
    margin: 5px;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;

    font-size: 350%;
    font-weight: 300;
}

#display #input-line {
    direction: ltr;
    display: inline-block;
}

.results-table td, .results-table th {
    width: 30px;
}

.results-table {
    margin: auto;
}

#logo {
    position: relative;
}

#logo-container {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#expression {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 200%;
}

#display.invalid {
    outline-color: red;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}
/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}